{% comment %}
  Snippet: Find In-Store - Powered by Brauz
{% endcomment %}
<button
  class="button find-in-store"
  type="button"
  onclick="window.Brauz_open_reserve_in_store_dialog()"
>
  <img
    src="{{ 'location-marker.svg' | asset_url }}"
    alt="location-marker"
    width="15"
    height="15"
  >
  <span>Find In Store</span>
</button>
<div
  id="brauz-find-in-store-config-product-page"
  data-sd="{{ shop.permanent_domain }}"
  data-cvi="{{ product.first_available_variant.id }}"
  data-hodv="{{ product.has_only_default_variant }}"
  style="display: none; width: 0"
></div>
<script
  src="https://d3aq2u4yw77ivo.cloudfront.net/reserve-in-store/hommey/reserve-in-store.shopify.hommey.prod.js"
  async
></script>